{% extends "base.html" %}

{%block content %}
<form action="" method='post' >
  {{ form.hidden_tag() }}

<p>
  {{ form.new_title.label }}<br>
  {{ form.new_title(value=book.title,size=64) }}
</p>
<p>{{ form.submit() }}</p>
</form>
{%endblock%}
