{% extends "base.html" %}

{% block content %}
    <h1>{{ 'Search Results'}}</h1>
    {%if total==0%}
    <p>No Search Results</p>
    {%else%}
    {% for post in posts %}
        <p>{{post.title}}</p>
    {% endfor %}
    {%endif%}
{% endblock %}
