{% extends "base.html" %}
{%block content%}
<h2>{{book.title}}</h2>
<h4>Summary</h4>
<p>{{book.summary}}</p>
{%if current_user.is_authenticated%}
{%if current_user.id==book.user_id%}
<a href="{{url_for('update',book_id=book.id)}}"><button class='btn btn-default'>Update Title</button></a>
{%endif%}
<a href="{{url_for('download',filename=book.filename)}}"><button class='btn btn-default'>Download</button></a>
{%endif%}
{%if request.method=='post'%}
<form action="" method="post" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <p>
    {{ form.new_title.label }}<br>
    {{ form.new_title(size=32) }}<br>
    {% for error in form.new_title.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
{%endif%}
{%endblock%}
